@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Proceed to "People" tab to add/remove or edit registered people.</p>
    <p>Or you can head to the "Charts" tab and check out the ratio of registered people by age and gender.</p>
</div>
